
@font-face {
    font-family: Raleway;
    src:url('https://fonts.googleapis.com/css?family=Raleway');
}
html{
    font-size: 100%;
    box-sizing: border-box;
}
body{
    margin: 0;
    padding: 0;
    min-height: 100vh;
    background-color: rgb(239,239,239);
    font-family: "Raleway", sans-serif ;
}
*, *::before, *::after {
    box-sizing: inherit;
}
.container{
    display: grid;

    justify-content: center;

    align-items: center;
    height: 100vh;

}

.box{
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 45px 505px;
    border-radius: 15px;
    background-color: white;
    height: 550px;
    width: 700px;
    overflow-y: scroll;
}

.box .students{
    display: flex;
    flex-direction: column;
}
