.card{
    margin-top: 5px;
    display: grid;
    grid-template-columns: 180px auto 50px;
    grid-template-rows: auto auto;
    width: 100%;
    border-bottom: thin lightgray solid;
    align-self: flex-start;
}
.card .student-image{
    display: flex;
    margin-top: 18px;
    margin-left: auto;
    margin-right: auto;
    border: thin solid lightgray;
    border-radius: 100%;
    height: 120px;
}
.card .content{
    margin-bottom: 20px;
}
.card .content h1{
    text-transform: uppercase;
    font-weight:bolder;
    line-height: 15px;
}

.card .content .card-text{
    margin-top: 30px;
    padding-left: 15px;

    font-size: 15px;
    font-weight: lighter;
    color: black;

    line-height: 10px;
}
.card-footer{
    display: flex;
    flex-direction: column;
    margin-left: 15px;
    margin-bottom: 5px;
}
.card .grades{

    font-weight: lighter;
    color: black;
    font-size: 15px;
    line-height: 1px;
}
.grade-entry{
    display: flex;
    flex-direction: row;
}

img{
    border: 2px solid gray;
    border-radius: 100%;
}

ol{
    list-style: none;
}

li{
    display: flex;
    flex-direction: row;
}
.flex{
    display: flex;
    flex-direction: column;
}
.expand-button{
    font-size: 40px;
    font-weight: bolder;
    color: rgb(170,170,170);
    border-style: none;
    background-color: transparent;

}
#tag-input{
    margin-left: 15px;
    font-size: 13px;
    font-weight: lighter;
    border-left-style: none;
    border-right-style: none;
    border-top-style: none;
    border-color: black;
    outline: none;
}
.tags{
    position: relative;
    top:-10px;
    left: -40px;
    margin-left: 20px;
    display: inline-flex;
    justify-content: flex-start;

}

.tag{
    padding: 5px 15px;
   border-radius: 4px;
    background-color: rgb(224,224,224);
    margin-right: 5px;
}



